@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Bree+Serif&display=swap");

@import "tailwindcss";

@theme {
  --font-display: "Paytone One", sans-serif;
  --font-display-02: "Bree Serif", Serif;
  --color-orange-01: oklch(0.7111 0.235 48.57);
  --color-gray-01: oklch(95.45% 0.0057 102.79);
  --color-gray-02: oklch(0.627 0 0);
  --color-green-01: oklch(0.6928 0.1742 142.73);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* taşmalar için mini test */
/* * { */
/*   outline: 1px solid red; */
/* } */
